:root {
  --bg-color: #2C2C2C;
  --text-color: #F3F6F5;
}

.imagen{
  background-image:url("../Imagenes/NOA/montañas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contenedor-buenos-aires, .contenedor-patagonia, .contenedor-cuyo, .contenedor-cordoba, .contenedor-noa, .contenedor-mesopotamia{
  position: relative;
}

.contenedor-buenos-aires:hover, .contenedor-patagonia:hover, .contenedor-cuyo:hover, .contenedor-cordoba:hover, .contenedor-noa:hover, .contenedor-mesopotamia:hover{
  transform: scale(1.03);
  transition: .4s;
}

.galeria-de-imagenes-BuenosAires, .galeria-de-imagenes-patagonia, .galeria-de-imagenes-cuyo, .galeria-de-imagenes-cordoba, .galeria-de-imagenes-noa, .galeria-de-imagenes-mesopotamia {
  display:none;
  flex-direction: column;
}

.galeria-de-imagenes-BuenosAires img, .galeria-de-imagenes-patagonia img, .galeria-de-imagenes-cuyo img, .galeria-de-imagenes-cordoba img, .galeria-de-imagenes-noa img, .galeria-de-imagenes-mesopotamia img{
  max-height: 60vh;
  min-height: 60vh;
  object-fit: cover;
}

.boton{
  position: absolute;
  top:60%;
  color: white;
  font-size: 2rem;
  border-style: none;
  cursor: pointer;
  background-color: black;
  opacity: 0.5;
  width: 2rem;
}

.boton:hover{
  background-color: black;
  opacity: 0.8;
  filter: brightness(1.5);
}

.izquierdo{
  left: 0;
}

.derecho{
  right: 0;
}

.contenedor-miniaturas{
  width: 70vw;
  display: flex;
  flex-direction: row;
}

.imagenes-miniaturas{
  width: calc((100%)/6);
  cursor: pointer;
  opacity: 0.5;
  object-fit: cover;
}

.imagenes-miniaturas:after{
  content: "";
}

.activada, .imagenes-miniaturas:hover{
  opacity: 1;
  width: calc((100%)/6);
  cursor: pointer;
}

.separador{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-destinos{
  background-color: #000;
  padding: 5rem 3rem;
  width: 100%;
}

.titulo-galeria-de-imagenes{
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  color: white;
}
.subtitulo-galeria-de-imagenes{
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
  color: white;
}
.link-galeria-de-imagenes{
  font-size: 0.8rem;
  text-align: center;
  padding: 1rem;
  color: white;
  text-decoration: none;
}

.boton-link{
  margin-top: 3vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border: none;
  border-radius: 4px;
  font: inherit;
  color: #fff;
  background-color: transparent;
  outline: 2px solid #fff;
}

.boton-link:hover{
  background-color: #fff;
  color: var(--main-blue-color);
  cursor: pointer;
}

.textos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.textos p {
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  margin: 1em;
}

.boton-link a:link, .boton-link a:visited, .boton-link a:active {
  text-decoration:none;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

.boton-link a:hover{
  color: #000;
}

.centrador{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0rem;
}


/*CLIMA*/

.search-form {
  margin: 20px 20px;
}

.clima{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 7px;
  background-color: #111;
}

.clima h1{
  color: white;
  text-align: center;
  padding: 1rem;
}

.searchbox {
  padding: 10px 20px;
  background-color: var(--text-color);
  max-width: 480px;
  margin: 0px auto;
  border-radius: 3px;
}

.search {
  width: 100%;
  background-color: var(--text-color);
  border: none;
  font-size: 1rem;
}

.search:focus {
  outline: none;
}

.weather-card {
  margin: 20px 20px;
  background: var(--text-color);
  color: var(--bg-color);
  padding: 20px;
  text-align: center;
  border-radius: 3px;
  display: none;
  max-width: 50vw;
}

.city {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.date {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}


.temperature {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.temp-img {
  width: 50px;
  margin-right: 10px;
}

.temp {
  font-size: 2.2rem;
  font-weight: bold;
}

.weather {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 950px) {
  .centrador{
    flex-direction: column-reverse;
  }

  .reverse{
    flex-direction: column;
  }


  .galeria-de-imagenes-BuenosAires img, .galeria-de-imagenes-patagonia img, .galeria-de-imagenes-cuyo img, .galeria-de-imagenes-cordoba img, .galeria-de-imagenes-noa img, .galeria-de-imagenes-mesopotamia img{
    max-height: 40vh;
    min-height: 40vh;
    object-fit: cover;
    max-width: 70vw;
  }

  .textos a{
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 650px) {
  .textos p{
    font-size: 0.8rem;
  }
}
